# Data load

In [1]:
import numpy as np
import pandas as pd
news_data = pd.read_csv('./data/news.csv')

In [2]:
news_data

,category,content,date,hate,id,image,keyword,like,rate,skip,sub_category,title,update_date,url,view_count
0,1,“2028학년도에 수시·정시를 통합하겠다는 방안은 수능을 무력화해 대입제도를 학생부...,2019-02-15 02:42:56.000000,0,4,https://pds.joins.com/news/component/htmlphoto...,"대입,교수,수능,시기,학년도",0,0,0,0,“수시·정시 통합해야” vs “수능 무력화 의도”…2028 대입 두고 논란,2019-02-16 17:50:04.872868,https://news.joins.com/article/23373597,0
1,1,최근 열린 삼보국가대표 선발전에서 1위를 한 뒤. 신재용 씨 제공\n\n고교 국가대...,2019-02-16 05:00:00.000000,1,5,http://dimg.donga.com/a/600/0/90/5/wps/NEWS/IM...,"공부,운동,유도,때,대회",0,-2,0,0,“공부하겠다는 내게 감독님이 열쇠 주셔” 서울대 가서도 유도-삼보로 꿈 키워 [양종...,2019-02-16 17:50:05.303722,http://news.donga.com/3/all/20190216/94152869/1,1
2,1,/첨부용/연세대 수험생 대나무숲\n\n우체국 전산 오류로 등록금을 못 내 연세대 합...,2019-02-13 15:00:00.000000,0,6,http://image.chosun.com/sitedata/image/201902/...,"수험,우체국,등록금,글,해당",0,0,0,0,"""등록금 전산 오류로 연대 합격 취소"" 책임 갑론을박",2019-02-16 17:50:05.412111,http://news.chosun.com/site/data/html_dir/2019...,0
3,1,"교육당국, 갑자기 통과 기준 점수 대폭 올려… 폐지 논란 재점화\n\n자사고聯, 교...",2019-02-15 15:00:00.000000,0,7,http://image.chosun.com/sitedata/image/201902/...,"자사고,평가,기준,지표,교육부",2,4,0,0,"""또 자사고 죽이기냐"" 再지정 문턱 높이자 폭발한 학교들",2019-02-16 17:50:05.495572,http://news.chosun.com/site/data/html_dir/2019...,2
4,1,[베리타스알파=권수진 기자] 14일 오후9시 마감한 상위9개대학(고려대 동국대 서강...,2019-02-15 07:37:32.000000,0,8,http://cds.veritas-a.com/news/photo/201902/144...,"충원,모집,추합,과,교육",0,0,0,0,[2019정시충원율] 상위9개대학 57.9%.. ‘상승’.. 추합 4159명,2019-02-16 17:50:06.153964,http://www.veritas-a.com/news/articleView.html...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9670,2,"[美北 하노이 회담 결렬 후 뉴스 보도]\n\n""김정은, 능수능란한 외교적 언사… ...",2019-03-04 15:00:00.000000,0,9674,http://image.chosun.com/sitedata/image/201903/...,"회담,트럼프,결렬,보도,협상",0,0,0,0,"'트럼프는 오만, 김정은은 노련'하다는 지상파",2019-03-05 00:50:48.177623,http://news.chosun.com/site/data/html_dir/2019...,0
9671,2,북한이 하노이 2차 북미정상회담이 진행되고 있는 중에도 우라늄농축시설을 가동하고 있...,2019-03-04 15:00:00.000000,0,9675,http://image.chosun.com/facebook/newson.png,"농축,시설,생산,우라늄,가동",0,0,0,0,"""北, 하노이 회담 중에도 영변 우라늄 고농축 시설 가동"" IAEA",2019-03-05 00:50:49.001492,http://news.chosun.com/site/data/html_dir/2019...,0
9672,3,그룹 빅뱅 멤버 승리가 경찰 출신 변호사를 선임한 것으로 전해졌다.\n\n법조계에 ...,2019-03-05 08:55:35.000000,0,9676,http://newsimg.hankookilbo.com/2019/03/05/2019...,"승리,경찰,의혹,지난달,성접대",0,0,0,0,"승리, 경찰 출신 변호사 선임…권익위, 성접대 의혹 카톡 확보",2019-03-05 00:50:49.977485,http://www.hankookilbo.com/News/Read/201903050...,0
9673,3,그룹 인피니트 장동우가 데뷔 때 소속사에서 정한 목표가 동방신기였다고 밝혔다.장동우...,2019-03-05 00:50:50.000000,0,9677,http://pds.joins.com/news/component/htmlphoto_...,"앨범,보컬,인피니트,데뷔,동방",0,0,0,0,"인피니트 장동우, ”인피니트 데뷔 때 목표, 동방신기”",2019-03-05 00:50:50.437183,http://isplus.joins.com/article/160/23401160.h...,0
9674,3,스티븐 스필버그가 넷플릭스의 아카데미 시상식 참여에 제동을 걸었다. 넷플릭스 작품은...,2019-03-04 02:15:41.000000,0,9678,https://img.huffingtonpost.com/asset/5c7c89f82...,"아카데미,시상식,영화,작품,이사회",0,0,0,0,스티븐 스필버그는 여전히 넷플릭스 작품은 아카데미 후보 자격이 없다고 생각한다,2019-03-05 00:51:09.847226,https://www.huffingtonpost.kr/entry/story_kr_5...,0

# Preprocessing

In [3]:
import re

def preprocessing(sentence):
    sentence =re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z]', ' ', sentence)
    return sentence

In [4]:
news_data['content_cleaned'] = news_data['content'].apply(preprocessing)
content = news_data['content_cleaned'].tolist()

In [5]:
content[0]

'     학년도에 수시 정시를 통합하겠다는 방안은 수능을 무력화해 대입제도를 학생부종합전형 학종      로 만들겠다는 꼼수다  학종에 대한 불신이 큰 현실을 외면한 채 혼란을 키우고 있는 김경범 서울대 교수를 국가교육회의에서 내보내야 한다  공정사회를위한국민모임 공정사회 은   일 오전   시 정부서울청사에서 기자회견 열고 국가교육회의 위원인 김경범 서울대 서어서문학과 교수의 사퇴를 촉구했다  김 교수가 학종을 옹호하고 있어 공정한 대입제도 개편에 걸림돌이 된다는 주장이다 이처럼     학년도 대입제도를 둘러싼 논란이 확산하고 있다  전날 청주 오송에서 열린 고교학점제 연구학교 교원연수 행사에서 김 교수가 미래 대입 전형을 주제로 발표한 게 불씨가 됐다  김 교수는 국가교육회의  기에서 고등교육전문위원회 위원으로 참여하고 있다 김 교수는 자료집에서  수시와 정시를   월로 통합해 수능 성적과 학생부 면접을 한꺼번에 평가하자 고 제안했다  또 수능 전 과목을 절대평가하고  EBS 연계도 폐지해야 한다고 주장했다      학년도 고교학점제에 따라     학년도 대입을 개편해야 한다면서 이같이 밝힌 것이다 현행 대입은 수시와 정시로 시기가 구분돼 있어 수시는  월  정시는   월 말에 원서를 접수한다  수시 준비하느라 고   학기 때 학교 수업이 제대로 이뤄지지 않는다는 비판은 꾸준히 제기돼 왔다  김 교수의 주장에 따르면 선발 시기를 통합하면 고  교실도 정상화하고 학생 학부모 교사의 부담도 줄일 수 있다는 것이다 이에 대해 대학 관계자와 교사 학부모는 엇갈린 의견을 내놨다  고교 교사는 환영했지만  대학 입학관계자와 학부모는 부정적이었다  서울 일반고의 한 교사는  대입 전형 시기가 나뉘어 있어 교사와 학생 학부모의 부담이 크고  고   학기 수업이 파행된 것은 맞다 며  이번에 나온 방안은 아니더라도 어떤 식으로든 변화가 필요하다 고 말했다 반면 서울 사립대의 한 입학처장은  고교별 수준이 제각각인 상황에서 수능까지 절대평가로 바뀌면 변별력이 크게 약화할 것 이라며  우수한 학생을 선발하기 위해 대학들은 수능과 내신 비교과 외에 평가 요소를 추가할 수밖에 없다 고 지적했다  초  자녀를 둔 김모    서울 송파구 씨도  주변에 대입 준비하는 사람들 보면 수시와 정시 중에 선택해 집중하는 경우가 많은데  시기가 통합되면 이것저것 다 해야 할 것 같아 걱정된다 고 말했다 실제 김 교수의 제안이 현실화하기는 쉽지 않아 보인다      학년도 대입개편 논의 때도 시기 통합 문제가 불거졌지만  논의가 무산됐다  시기를 통합하면 수능과 학생부의 칸막이가 무너져 죽음의 트라이앵글이 나올 수 있다는 우려 때문이었다  학생들이 선호가 높은 대학에 가려면 수능과 내신 비교과 중 어느 하나도 포기할 수 없는 환경이 만들어질 수 있다는 것이다  교육부 관계자는  시기통합안 등은 김 교수의 개인적인 의견일 뿐이다      학년도 대입에 대해 교육부에서 논의한 내용은 없다 고 설명했다 전민희 기자 jeon minhee joongang co kr'

# Kmeans Clustering

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import normalize
from sklearn.cluster import KMeans

In [7]:
np.unique(news_data.category)

array([1, 2, 3], dtype=int64)

In [8]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(content)

In [9]:
X = normalize(X)

In [10]:
km = KMeans(3)
km.fit(X)

KMeans(n_clusters=3)

# Result

In [11]:
news_data['labels'] = km.labels_

In [12]:
news_data[['category','content','labels']]

      category                                            content  labels
0            1  “2028학년도에 수시·정시를 통합하겠다는 방안은 수능을 무력화해 대입제도를 학생부...       1
1            1  최근 열린 삼보국가대표 선발전에서 1위를 한 뒤. 신재용 씨 제공\n\n고교 국가대...       1
2            1  /첨부용/연세대 수험생 대나무숲\n\n우체국 전산 오류로 등록금을 못 내 연세대 합...       1
3            1  교육당국, 갑자기 통과 기준 점수 대폭 올려… 폐지 논란 재점화\n\n자사고聯, 교...       1
4            1  [베리타스알파=권수진 기자] 14일 오후9시 마감한 상위9개대학(고려대 동국대 서강...       1
...        ...                                                ...     ...
9670         2  [美北 하노이 회담 결렬 후 뉴스 보도]\n\n"김정은, 능수능란한 외교적 언사… ...       0
9671         2  북한이 하노이 2차 북미정상회담이 진행되고 있는 중에도 우라늄농축시설을 가동하고 있...       0
9672         3  그룹 빅뱅 멤버 승리가 경찰 출신 변호사를 선임한 것으로 전해졌다.\n\n법조계에 ...       1
9673         3  그룹 인피니트 장동우가 데뷔 때 소속사에서 정한 목표가 동방신기였다고 밝혔다.장동우...       1
9674         3  스티븐 스필버그가 넷플릭스의 아카데미 시상식 참여에 제동을 걸었다. 넷플릭스 작품은...       1

[9675 rows x 3 columns]

In [13]:
news_data[np.where(news_data.category==1, True, False)][['category','content','labels']]

      category                                            content  labels
0            1  “2028학년도에 수시·정시를 통합하겠다는 방안은 수능을 무력화해 대입제도를 학생부...       1
1            1  최근 열린 삼보국가대표 선발전에서 1위를 한 뒤. 신재용 씨 제공\n\n고교 국가대...       1
2            1  /첨부용/연세대 수험생 대나무숲\n\n우체국 전산 오류로 등록금을 못 내 연세대 합...       1
3            1  교육당국, 갑자기 통과 기준 점수 대폭 올려… 폐지 논란 재점화\n\n자사고聯, 교...       1
4            1  [베리타스알파=권수진 기자] 14일 오후9시 마감한 상위9개대학(고려대 동국대 서강...       1
...        ...                                                ...     ...
9656         1  [헤럴드경제=박세환 기자] 학부모가 밤늦은 시간에 교사에게 단순 민원용 카톡을 하거...       1
9657         1  정부와 맞서는 한유총 '시설사용료' 요구…법조계 시각은\n\n뉴스1 제공\n\n© ...       2
9658         1  촌장협동조합 장담그기 [여성종합뉴스/이경문기자] 서울 노원구가 전통 발효식품인 장류...       1
9659         1  ▲노진호 우리금융그룹 CIO ©우리금융그룹\n\n우리금융그룹은 그룹의 IT 컨트롤 ...       1
9660         1  작년 9월 국회 교육위원회의 서울시교육청 국정감사 때 박용진 더불어민주당 의원이 공...       1

[2872 rows x 3 columns]

In [14]:
ca = news_data[np.where(news_data.category==1, True, False)][['category','content','labels']]

In [15]:
ca.labels.unique()

array([1, 2, 0], dtype=int64)

In [16]:
ca[ca.labels != 1]

      category                                            content  labels
16           1  "국공립유치원 취원율 제고와 공공성·투명성 확보에 도움"\n\n'에듀파인' 사용 두...       2
30           1  사립유치원 단체인 한국유치원총연합회(한유총)가 이번엔 정부에 자신들의 유치원을 사가...       2
42           1  갈라진 사립유치원…'에듀파인' 반대시위 vs "사용법 배울래"한유총, 서울교육청 앞...       2
56           1  '처음학교로' 가입안한 원장들에 한마디도 못해\n\n오늘부터 시교육청에서 릴레이 침...       2
58           1  사립유치원 교사 반발 부른 '교사 처우개선비' 뭐길래\n\n뉴스1 제공\n\n한국유...       2
...        ...                                                ...     ...
9584         1  한국유치원총연합회(한유총)가 '유치원 3법' 등 철회를 요구하며 '개학 연기 투쟁'...       2
9595         1  사립유치원 단체인 한국유치원총연합회가 `유치원 3법` 철회 등을 요구하며 결국 개학...       2
9610         1  긴급돌봄 신청 안내. 사진제공=김포시\n\n[김포=강근주 기자] 한국유치원총연합회(...       2
9637         1  29일 교육위원회 국정감사에 증인으로 참석한 이덕선 한유총 비대위원장(왼쪽)김용임 ...       2
9657         1  정부와 맞서는 한유총 '시설사용료' 요구…법조계 시각은\n\n뉴스1 제공\n\n© ...       2

[440 rows x 3 columns]

In [17]:
ca.loc[ca['labels']==2,['content_cleaned', 'labels']]

C:\Users\Dong-Woo\Anaconda3\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

      content_cleaned  labels
16                NaN       2
30                NaN       2
42                NaN       2
56                NaN       2
58                NaN       2
...               ...     ...
9584              NaN       2
9595              NaN       2
9610              NaN       2
9637              NaN       2
9657              NaN       2

[437 rows x 2 columns]

# DBSCAN

In [18]:
from sklearn.cluster import DBSCAN

In [19]:
db = DBSCAN()

In [20]:
db.fit(X)

DBSCAN()

In [21]:
np.unique(db.labels_)

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
       16, 17, 18, 19, 20, 21], dtype=int64)